  <!-- ========== Left Sidebar Start ========== -->
  <div class="leftside-menu left-s bg-black ">

    <!-- LOGO -->
    <a href="index.html" class="logo text-center  bg-black">
        <span class="logo-lg bg-black">
            <img src="assets/images/logo.png" alt="" height="16">
        </span>
        <span class="logo-sm bg-black">
            <img src="assets/images/logo_sm.png" alt="" height="16">
        </span>
    </a>



    <div class="h-100" id="leftside-menu-container" data-simplebar>

        <!--- Sidemenu -->
        <ul class="side-nav">

            <li class="side-nav-title side-nav-item">Gestion des écoles <i class="bi bi-building-fill-gear fs-4"></i> </li>

            <li class="side-nav-item">
                <a routerLink="listeecole" data-bs-toggle="collapse" class="side-nav-link hover-bg">
                    <i class="bi bi-list-nested"></i>
                    <span> Liste des écoles </span>
                </a>

            </li>
            <li class="side-nav-item">
                <a routerLink="ajoutecole" data-bs-toggle="collapse" class="side-nav-link hover-bg">
                    <i class="bi bi-building-fill-add"></i>
                    <span> Ajouter une école </span>
                </a>

            </li>

            <li class="side-nav-title side-nav-item">Gestion des versions <i class="bi bi-window-stack fs-4"></i> </li>

            <li class="side-nav-item">
                <a routerLink="listeversion" data-bs-toggle="collapse" class="side-nav-link hover-bg">
                    <i class="bi bi-list-nested"></i>
                    <span> Gestion des versions  </span>
                </a>

            </li>
            <li class="side-nav-item">
                <a routerLink="ajoutversion" data-bs-toggle="collapse" class="side-nav-link hover-bg">
                    <i class="bi bi-window-plus"></i>
                    <span> Ajouter une version </span>
                </a>

            </li>
        </ul>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->