   <!-- Begin page -->
   <div class="wrapper">
    <!-- ========== Left Sidebar Start ========== -->
    <app-sidebarentreprise></app-sidebarentreprise>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <div class="content">


            <!-- Topbar Start -->


          <app-headerentreprise></app-headerentreprise>


            <!-- end Topbar -->



            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">

                    <router-outlet></router-outlet>
                </div>
                <!-- end page title -->



            </div>
            <!-- container -->

        </div>
        <!-- content -->

        <!-- Footer Start -->
     <app-footerentreprise></app-footerentreprise>
        <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


</div>
<!-- END wrapper -->





