<div class="container">
    <div class="row mt-3"> <h3 class="text-warning"> Listes des versions </h3></div>
    <div class="row mt-2">
        <div class="col">
            <table class="table align-middle mb-0 bg-white">
                <thead class="bg-warning text-white">
                  <tr>
                    <th>Version</th>
                    <th>Fichier</th>
                    <th>Date </th>
                   
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <p class="fw-bold mb-1">version 1</p>
                       
                    </td>
                    <td>
                      <button class="btn btn-dark">télécharger  </button>
                     </td>
                     <td>
                        <p class="fw-normal mb-1">22/11/2023 </p>
                       </td>
                  </tr>
                  <tr>
                    <td>
                      <p class="fw-bold mb-1">version 1</p>
                       
                    </td>
                    <td>
                      <button class="btn btn-dark">télécharger  </button>
                     </td>
                     <td>
                        <p class="fw-normal mb-1">22/11/2023 </p>
                       </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>